[submodule "beyond/3rdparty/3dparty"]
	path = beyond/3rdparty/3dparty
	url = git@github.com:deng451e/flashinfer.git
[submodule "beyond/3rdparty/flashinfer"]
	path = beyond/3rdparty/flashinfer
	url = git@github.com:deng451e/flashinfer.git
